*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo {
    width: calc(50% - 40px);
    height: calc((35vw - 40px)/16*9);
    background-color: orange;
    margin: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 48px;
}
.photo:hover{
    transform: scale(2);
    transition: all 0.5s ease;
    box-shadow: 0 0 10 1 rgba(0, 0, 0, 0.2);
}
.photo1{
    background-image: url("./image/img1.jpeg");
}
.photo2{
    background-image: url("./image/img2.jpeg");
}
.photo3{
    background-image: url("./image/img3.jpeg");
}
.photo4{
    background-image: url("./image/img4.jpeg");
}
.photo5{
    background-image: url("./image/img5.jpeg");
}
.photo6{
    background-image: url("./image/img6.jpeg");
}
.photo7{
    background-image: url("./image/img7.jpeg");
}
.photo8{
    background-image: url("./image/img8.jpeg");
}
.photo9{
    background-image: url("./image/img9.jpeg");
}
.photo10{
    background-image: url("./image/img10.jpeg");
}
.photo11{
    background-image: url("./image/img11.jpg");
}
.photo12{
    background-image: url("./image/img12.jpeg");
}